<table>
    <thead>
      <tr>
          <th>Name</th>
          <th>Item Name</th>
          <th>Item Price</th>
          <th>
            <button>Delete</button>
            <button>Atualizar</button>
          </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Alvin</td>
        <td>Eclair</td>
        <td>$0.87</td>
        <th>
            <button>Delete</button>
            <button>Atualizar</button>
        </th>       
      </tr>
      <tr>
        <td>Alan</td>
        <td>Jellybean</td>
        <td>$3.76</td>
        <th>
            <button>Delete</button>
            <button>Atualizar</button>
          </th>
      </tr>
    </tbody>
</table>
